/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */


.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}


.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
	margin-top:0rem;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}



/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}
/* Comments */
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
//front page CSS
.heroContainer{
	width:100vw;
}
.home-hero{
	background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),
	url(../../images/home-hero.jpg) no-repeat top;
	background-size:cover, cover;
	height:100vh;
	width:100%;
	display:flex;
	justify-content:center;
	align-items: center;
	position:relative;
	img{
		position: absolute;
		height: 250px;
		width: 250px;
	}
}
//Shop Section CSS
.allproducts{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin-left: auto;
    margin-right: auto;
	.shop-product{
		flex: 0 1 23%;
	}
}
.post-type-archive {
	.page-title{
		text-align:center;
	}
}
//Find Us Page CSS
.page .entry-title {
		text-transform: uppercase;
}
.page .entry-content {
	h2{
		text-transform: uppercase;
	}
}
.required{
	color:#d99054;
}
.blog .site-content{
	width:1120px;
	margin:0 auto;
}
.archive .site-content{
	width:1120px;
	margin:0 auto;
}
.belowHero{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100vw;
	margin:0 auto;
}
.adventureImages{
	display:flex;
	width:1080px;
	box-sizing: border-box;
	height:540px;
}
.leftbox, .rightBox{
	height:540px;
	width:540px;
}

.rightBox{
	display:flex;
	flex-wrap: wrap;
	
}
.longImage {
	width:540px;
	height:540px;
	background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),
	url(../../images/adventure-photos/canoe-girl.jpg) no-repeat center;
	background-size:cover, cover;
	margin-right:1.35rem;
	
}
.wideImage {
	background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),
	url(../../images/adventure-photos/beach-bonfire.jpg) no-repeat center;
	background-size:cover, cover;
	width:100%;
	height:48%;
	margin-bottom:2%;

}
.squareImage {
	width:48%;
	height:48%;
	margin-top:2%;
}
.rightBoxLeftImage{
	background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),
	url(../../images/adventure-photos/mountain-hikers.jpg) no-repeat center;
	background-size:cover, cover;
	margin-right:2%;

}
.rightBoxRightImage{
	background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),
	url(../../images/adventure-photos/night-sky.jpg) no-repeat center;
	background-size:cover, cover;
	margin-left:2%;

}
.longImage{
	position:relative
}
.longImageContent{
	position:absolute;
}
.wideImage{
	position:relative;
}
.wideImageContent{
	position:absolute;
}
// .adventure-wrapper{
// 	display:flex;
// 	.adventure-info {
// 		font-size:1rem;
// 		width:50%;
// 	}
// }
.adventureSection{
	a.moreAdventures{
		margin-top:2rem;
			padding:.75rem 1.5rem;
			color:white;
			background:#248a83;
			text-decoration:none;
			text-transform:uppercase;
			font-family:$accentFont;
			margin-left:.6rem;
			&:hover{
				background:#1b6661;
			}
	}
	box-sizing: border-box;
	ul.adventurePicture{
		display:flex;
		flex-wrap:wrap;
		width:1120px;
		height:540px;
		position:relative;
		margin-bottom:3rem;
		box-sizing: border-box;
		.adventure-wrapper{
			margin:10px;
			display:flex;
			background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% );
			img{
				z-index: -100;
			}
			.adventure-info{
					padding-left:2rem;
					.adventure-read-more{
						border:solid 1px white;
						color:white;
						padding:.5rem 1.5rem;
						text-decoration:none;
						text-transform: uppercase;
						font-size:.9rem;
						font-family:$accentFont;
						&:hover{
							background:#248a83;
							border:solid 1px #248a83;
						}
					}
			}
		}

		li:nth-child(1){
			width:50%;
			height:540px;
			.adventure-wrapper{
				height:100%;
				display:flex;
				.adventure-info{
					width:50%;
					p{
						a{
							font-family: $normalFont;
							font-size:3rem;
							color:white;
							&:hover{
								color:#f0e4d1
							}
						}
					}
				}
				img{
					height:100%;
					object-fit:cover;
				}
			}
		}
		li:nth-child(2){
			width:50%;
			height:50%;
			.adventure-wrapper{ 
			height: 100%;
			margin-bottom:20px;
			height:260px; 
			.adventure-info{
				width:45%;
				p{
						a{
							font-family: $normalFont;
							font-size:2.4rem;
							color:white;
							&:hover{
								color:#f0e4d1
							}
						}
					}
			}
			img{
				height:100%;
				// padding-bottom:10px;
				object-fit: cover;
			}
		}
		} 
		li:nth-child(3){
			position:absolute;
			right:280px;
			bottom:0px;
			width:25%;
			height:50%;
			.adventure-wrapper{
				height:100%;
				margin-top:20px;
				height:260px;
				.adventure-info{
					width:80%;
					padding-top:1.5rem;
					p{
						a{
							font-family: $normalFont;
							font-size:1.5rem;
							color:white;
							&:hover{
								color:#f0e4d1
							}
						}
					}
				}
				img{
					height:100%;
					width:100%;
					// padding-top:10px;
					object-fit: cover;
				}
			}
		}
		li:nth-child(4){
			// position:absolute;
			// right:200px;
			position:absolute;
			right:0;
			bottom: 0;
			width:25%;
			height:50%;
			.adventure-wrapper{
				height:100%;
				margin-top:20px;
				height:260px;
				.adventure-info{
					width:80%;
					padding-top: 1.5rem;
					p{
						a{
							font-family: $normalFont;
							font-size:1.5rem;
							color:white;
							&:hover{
								color:#f0e4d1
							}
						}
					}
				}
				img{
					height:100%;
					width:100%;
					// padding-top:10px;
					object-fit: cover;
				}
			}
		}
	}
}
.adventure-info{
	position:absolute; 
}
// .adventure-wrapper:nth-child(1){
// 	height: 540px;
// }
// .adventure-wrapper:nth-child(2){
// 	width:25%;
// 	height:270px;
// }
// .adventure-wrapper:nth-child(3){
// 	width:25%;
// 	height:270px;
// }
// .adventure-wrapper:nth-child(4){
// 	width:270px;
// 	height:270px;
// }