/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */


.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}


.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
	margin-top:0rem;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}



/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
//front page CSS
.heroContainer{
	width:100vw;

}
.home-hero{
	background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),
	url(../../images/home-hero.jpg) no-repeat top;
	background-size:cover, cover;
	height:100vh;
	width:100%;
	display:flex;
	justify-content:center;
	align-items: center;
	position:relative;
	img{
		position: absolute;
		height: 250px;
		width: 250px;
	}
}

//Shop Section CSS
.allproducts{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin-left: auto;
    margin-right: auto;
    // width: 1120px;
	.shop-product{
		flex: 0 1 23%;
	}
}

.post-type-archive {
	.page-title{
	text-align:center;
	}
}

//Find Us Page CSS
.page .entry-title {

		text-transform: uppercase;

}
.page .entry-content {
	h2{
		text-transform: uppercase;
	}
}
.required{
	color:#d99054;
}
// .page .content-area{

// }
.blog .site-content{
	width:1120px;
	margin:0 auto;
}
.archive .site-content{
	width:1120px;
	margin:0 auto;
}
// .single-post, .page-template-about .site-content{
// 	width:1120px;
// 	margin:0 auto;
// }
.belowHero{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100vw;
	margin:0 auto;
}