.informationBlock{
	display:flex;
	justify-content: space-around;
	color:white;
}
.site-info{
	background: url("../../images/dark-wood.png");
    a{
    color:white;
    text-decoration: none;
}
}

h3{
	text-transform: uppercase;
	color:#d99054;
}

.footerCopyRight{
    text-align: center;
    color:white;
    p{
        margin:0;
        text-transform: uppercase;
    }
}
.companyLogo{
    margin-top:3rem;
    img{
        width:70%;
    }
}
i{
    width:25px;
}
.entry-footer{
    text-transform: uppercase;
    margin-right:30px;
}