/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-content{
	padding-top:50px;
	display:flex;
	justify-content: space-between;
}
 .content-area{
	width:70%;
	padding-left:6rem;
}
.widget-area{
	border-left:solid 1px lightgrey;
	width:30%;
	padding:3rem;
}

.site-content-fullwidth{
	width:100%;
}
.post .entry-header{
	position:relative;
	img{
		width:930px;
	}
	.entry-title{
		position:absolute;
		padding-left: 1rem;
		font-size:2rem;
		text-transform:uppercase;
    	top: 30px;
		background-color: #248a83;
		width: 30rem;
		color:white;
		padding: .6rem;
		padding-left: 1rem;
		a{
			color:white;
			text-decoration:none;
			&:hover{
				color:$color__background-ins;
			}
		}
	}
	.entry-meta{
		position:absolute;
		bottom: 7px;
		color: white;
		right: 64px;
		text-transform:uppercase;
		background-color: #248A83;
		padding: .3rem 1.5rem;
		color:white;
		a{
			text-decoration:none;
			&:hover{
				color:$color__background-ins;
			}
			&:visited{
				color:white;
			}
		}
	}
}

.journal-3{
	display:inline-flex;
}