/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.blog .content-area, .single .content-area{
	width:70%;
	padding-right:3rem;
	padding-left:6rem;
	// p{
	// 	width:760px;
	// }
}
 .widget-area{
	border-left:solid 1px lightgrey;
	width:30%;
	padding:3rem;
}
.single .site-content{
	width:1120px;
	margin: 0 auto;
}
// .site-content-fullwidth{
// 	width:100%;
// }
//css positioning for entry title
	.blog .entry-title, .single .entry-title{
		position:absolute;
		padding-left: 1rem;
		font-size:2rem;
		text-transform:uppercase;
    	top: 10px;
		background-color: #248a83;
		width: 30rem;
		color:white;
		padding: .6rem;
		padding-left: 1rem;
		a{
			color:white;
			text-decoration:none;
			&:visited{
				color:white;
			}
			&:hover{
				color:$color__background-ins;
			}
		}
	}
	//css positioning for entry meta
	.blog .entry-meta, .single .entry-meta{
		position:absolute;
		bottom: 6.5px;
		color: white;
		right: 0px;
		text-transform:uppercase;
		background-color: #248A83;
		padding: .3rem 1.5rem;
		color:white;
		a{
			text-decoration:none;
			&:hover{
				color:$color__background-ins;
			}
			&:visited{
				color:white;
			}
		}
		.comments-link a{
			&:hover{
				color:$color__background-ins;
			}
		}
	}


.about-hero{
		background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),
		url(../../images/about-hero.jpg) no-repeat center bottom;
	    // background:rgba(255,255,255,0.8);
	// 	background: 
	// linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% );
	background-size:cover,cover;

	height:800px;
	// padding-bottom:200px;
	position:relative;
}

// .container{
// 	// display:flex;
// 	justify-content:center;
// }

.home .shop-container{
	display:inline-flex;
	justify-content: center;
	width:1120px;
	.shop-stuff-icons{
		flex: 0 1 23%;
		max-width:23%;
		border:solid 1px lightgrey;
		border-top:solid 5px lightgrey;
		padding:.75rem;
		padding-bottom:1.5rem;
		text-align: center;
		margin:1rem;
		align-items:baseline;
		&:hover{
		border:solid 1px #d99054;
		border-top:solid 5px #d99054;
		}
		a{
			color:white;	
			text-decoration:none;	
			background:#248A83;
			padding: .75rem 1.5rem;	
			font-size: .9rem;
			text-transform:uppercase;
			&:hover{
			background:#1b6661;
		}
		}
		
		img{
			width:70px;
			height:70px;
		}
	}
}
.home h2{
	text-align:center;
	text-transform: uppercase;
	font-size:2.4rem;
}

.journal-entry{
	display:inline-flex;
	justify-content:center;
}
.a-post{
	border: solid 1px lightgrey;
	margin: .75rem;
}
.home .journalExcerpt a{
	color: #248a83;
    background: white;
    border: solid 1px black;
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

// .home .site-main{
// 	font-family:'Novecento';
// }
//front page journal entries
.journal-3{
	display:inline-flex;
	justify-content: space-between;
	width:1120px;
}
.home .entry-header .entry-title{
	display:none;
}
.category {
	text-transform:uppercase;
	border-bottom: 1px dashed #c8c8c8;
	padding-bottom: 2.5rem;
	text-align: center;
	margin-bottom: 2rem;
	width:1120px;
	a{
		padding: 0rem 1.3rem;
		text-decoration:none;
	}
}
.post-type-archive .page-title{
	text-transform:uppercase;
		letter-spacing: 2px;
}
//journal readmore buttons
.blog .entry-content{
	a{
		border: solid 1px black;
		padding: .60rem 1.4rem;
		text-decoration:none;
		text-transform:uppercase;
		font-size:.8rem;
		color:black;

		&:hover{
			color:white;
			background:#248A83;
			border:solid 1px #248A83;
		}
	}
}
// journal images
.post .entry-header{
	position:relative;
	margin-top:2.5rem;
	// img{
	// 	width:760px;
	// 	height:520px;
	// }
}
//find us page
.page-id-71 .site-content{
	max-width:1120px;
	margin: auto;
}

//taxonomy products categories

.tax-product_type .page-header{
	.page-title{
		text-transform:uppercase;
	}
	border-bottom: 1px dashed #c8c8c8;
	padding-bottom: 1rem;
	text-align: center;
	margin-bottom: 2.5rem;
	width:1120px;
}
//single page entry-footer css
.single .entry-footer{
	.cat-links{
		margin-right: 1.5rem;	
	}
	a{
		text-decoration: none;
	}
}
//shop category css
.archive-info{
	display:flex;
	justify-content:space-between;
	padding:.7rem 1rem;
	border-top:solid 5px lightgrey;
	border:solid 1px lightgrey;
	margin-bottom: 2rem;
	position:relative;
	.dotStuff{
		position:absolute;
	    top: -4.5px;
		right: 37px;
		z-index: -1;
	}
	.productTitle{
		background:white;
	}
	.priceTag{
		background:white;
	}
}
.archive-product{
	height:250px;
	border-bottom:solid 5px lightgrey;
	z-index:100;
	img{
		height:100%;
		object-fit: cover;
	}
}

// .shop-product{

// }