/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.site-content{
	padding-top:50px;
	display:flex;
	justify-content: space-between;
}
.home .site-content{
	padding-top:0px;
	display:flex;
	justify-content: space-between;
}
.blog .content-area{
	width:70%;
	padding-right:3rem;
	padding-left:6rem;
	p{
		width:760px;
	}
}
 .widget-area{
	border-left:solid 1px lightgrey;
	width:30%;
	padding:3rem;
}

.site-content-fullwidth{
	width:100%;
}
.post .entry-header{
	position:relative;
	img{
		width:760px;
		height:520px;
	}
	.entry-title{
		position:absolute;
		padding-left: 1rem;
		font-size:2rem;
		text-transform:uppercase;
    	top: 10px;
		background-color: #248a83;
		width: 30rem;
		color:white;
		padding: .6rem;
		padding-left: 1rem;
		a{
			color:white;
			text-decoration:none;
			&:hover{
				color:$color__background-ins;
			}
		}
	}
	.entry-meta{
		position:absolute;
		bottom: 6px;
		color: white;
		right: 155px;
		text-transform:uppercase;
		background-color: #248A83;
		padding: .3rem 1.5rem;
		color:white;
		a{
			text-decoration:none;
			&:hover{
				color:$color__background-ins;
			}
			&:visited{
				color:white;
			}
		}
	}
}

.journal-3{
	display:inline-flex;
}
.about-hero{
		background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ),
		url(../../images/about-hero.jpg) no-repeat center bottom;
	    // background:rgba(255,255,255,0.8);
	// 	background: 
	// linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% );
	background-size:cover,cover;

	height:800px;
	// padding-bottom:200px;
	position:relative;
}
.container{
	width:100vw;
}