/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

/* Copy */

p {
	margin-bottom: $base__space-unit;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 $base__space-unit;
}

address {
	margin: 0 0 $base__space-unit;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6rem;
	max-width: 100%;
	overflow: auto;
	padding: 1.6rem;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
.day-of-week {
	font-weight: bold;
}
.widget-title{
	text-transform:uppercase;
}
//FRONT PAGEEEEEEEEEEEEEEEEEEEEEEEEEEE
.home .navWrap #primary-menu{
	font-family:$normalFont;
	font-size:1rem;
}
.home h2{
		font-family: $accentFont;	
	font-weight:normal;
	letter-spacing: 2px;
}
.shop-stuff-icons {
	p{
	font-family: $normalFont;
	font-size:.9rem;
	}
	a{
		font-family:  $accentFont;	
		font-size: .9rem;	
	}
}

.home .entry-meta{
	font-family: $normalFont;
	font-size:.8rem;
	
}

.home .a-post-info{
	p a{
		font-family:  $accentFont;	
		text-transform: uppercase;
		text-decoration:none;
		font-weight:bold;
		font-size:1.2rem;
		letter-spacing:2px;
		line-height:1;
	}
}
.home .a-post-info .journalExcerpt{
	a{
		font-size:.9rem;
		font-family:  $accentFont;
		// font-weight:normal;
	}
}
.site-info h3{
	font-family:  $accentFont;
	letter-spacing: 2px;
}
.site-info .info-hours p{
		font-family: $normalFont;
		font-size:.9rem;
}
.footerCopyRight{
	font-family: $accentFont;
	font-size:.9rem;
}
// END OF FRONT PAGEEEEEEEEE

//archivepage title css
.date h1{
	text-transform:uppercase;
	font-family: $accentFont;
}

//shop page css
.page-header{
	.page-title{
	font-family:  $accentFont;
	}
	.taxonomy-description{
		font-family: $normalFont;
	}
}
.shop-category{
	.category a{
		
			font-family:  $accentFont;
	}
} 
.archive-info{
	.productTitle {
		font-family: $normalFont;
		font-size:1rem;
	}
	.priceTag{
	font-family: $normalFont;
	font-size:.9rem;			
	}
}
//JOURNAL PAGEEEEEE
.blog, .single-post {
	.entry-title{	
	font-family:  $accentFont;
	font-weight: bold;
	}
	.entry-meta{
		font-family:  $accentFont;
	}
	.entry-content{
		font-family: $normalFont;
	}
	.read-more{
		font-family:  $accentFont;
	}
	.entry-footer{
		font-family:  $accentFont;
	}
}
//ABOUT PAGEEEE
.page-template-about{
	h1, h2{
		font-family:  $accentFont;
		font-weight: bold;
		letter-spacing:2px;
	}
	h1{
		font-size:2.4rem;
	}
	h2{
		font-size: 2.1rem;
	}
	.p1{
		font-family: $normalFont;
	}
}
//FIND US PAGEEE

.page-id-71{
	h1, h2{
		font-family:  $accentFont;
		font-weight: bold;
		letter-spacing:2px;
	}
	h1{
		font-size:2.4rem;
	}
	h2{
		font-size: 2.1rem;
		color:#2f1339;
	}
	.entry-content p{
		font-family: $normalFont;
		margin-top:0;
		margin-bottom:0;
	}
	.wpcf7{
		p{
			text-transform: uppercase;
			font-family:  $accentFont;
			margin-bottom:1rem;

		}
		.wpcf7-form-control{
			margin-top:.5rem;
		}
		.wpcf7-submit{
			background:#248a83;
			color:white;
			text-transform: uppercase;
			font-family:  $accentFont;
			padding:.4rem 1.25rem;
			font-size:.9rem;
			&:hover{
				background:#1b6661;
			}

		}
	}
}
//WIDGET STYLING
#secondary{
	.widget-title {
		font-family:  $accentFont;
		color:#2f1339;
		font-size:1.5rem;
	}
	.textwidget{
		font-family: $normalFont;
			a{
			text-decoration:none;
			}
			font-size:1rem;
	}
	.biz-hours-widget-class p{
		font-family: $normalFont;
	}
	.widget_archive{
		a{
				font-family: $normalFont;
		}
	}
}
//journal archive page styling
.date{
		.entry-title{	
	font-family:  $accentFont;
	font-weight: bold;
	}
	.entry-meta{
		font-family:  $accentFont;
	}
	.entry-content{
		font-family: $normalFont;
	}
	.read-more{
		font-family:  $accentFont;
	}
}
//single products page styling
.single-products{
	.entry-title{
		text-transform:uppercase;
		font-family:  $accentFont;
		font-weight:bold;
		color:#d99054;
		letter-spacing:2px;
	}
	.priceTag{
			font-family:  $accentFont;
			font-size:1.7rem;
	}
	.socialMediaButtons{
		
		a{
			text-decoration:none;
			text-transform:uppercase;
			font-family:  $accentFont;
			color:black;
			font-size:.8rem;
			&:hover{
			background:#248a83;
			color:white;
			}
		
		}
		
	}
	p{
			font-family: $normalFont;
	}
}
.single-post .socialMediaButtons{
		
		a{
			text-decoration:none;
			text-transform:uppercase;
			font-family:  $accentFont;
			color:black;
			font-size:.8rem;
			&:hover{
			background:#248a83;
			color:white;
			}
		
		}
		
	}
	//COMMENT SECTION 
	.comments-title{
		font-family:  $accentFont;
		font-weight:bold;
		color:#2f1339;
		text-transform:uppercase;
	}
	.comment-author{
		font-family: $normalFont;
		font-weight:bold;
		font-style: normal;
	}
	.comment-metadata{
		font-family: $normalFont;
		color:#808080;
	}
	.comment-content{
		p{
			font-family: $normalFont;
		}
		.reply{
			font-family: $normalFont;
		}
	}
	#reply-title{
		font-family:  $accentFont;
		letter-spacing:2px;
		font-size:1.5rem;
		color:#404040;
	}
	.comment-form-comment{
		font-family:  $accentFont;
		font-size:1rem;
		text-transform:uppercase;
	}
	.form-submit{
		#submit{
			background:#248a83;
			color:white;
			text-transform: uppercase;
			font-family:  $accentFont;
			padding:.4rem 1.25rem;
			font-size:.9rem;
			&:hover{
				background:#1b6661;
			}

		}
	}
//ERROR 404 PAGE STYLING
.error404{
	.page-title {
		font-family:  $accentFont;
		font-weight:bold;
		text-transform: uppercase;
		font-size:2rem;
		letter-spacing:2px;
	}
}
.error404 .page-content{
	.widgettitle, .widget-title{
		font-family:  $accentFont;
		font-weight:bold;
		color:#2f1339;
		text-transform:uppercase;
		letter-spacing:2px;
	}
	ul a{
		font-family: $normalFont;
	}
	p{
		font-family: $normalFont;
	}
}
//ABOUT PAGE   
.single-post .entry-meta a{
	color:white;
}
.page-template-about{
	.entry-title{
		font-family:  $accentFont;
		font-weight:bold;
	}
	.container h2{
		color:#2f1339;
	}
}
//adventure stuff 
.home .adventureImages{
	.longImageText{
		font-family: $normalFont;
		font-size:3rem;
		color:white;
	}
	.wideImageText{
		font-family: $normalFont;
		font-size:2.4rem;
		color:white;
	}
	.squareImageText{
		font-family: $normalFont;
		font-size:1.5rem;
		color:white;
	}
	.squareImageContent{
		padding:1.5rem;
	}
	.longImageContent{
		padding-left:1.5rem;
	}
	.wideImageContent{
		padding-left:1.5rem;
	}
	a{
		border:solid 1px white;
		color:white;
		padding:.5rem 1.5rem;
		text-decoration:none;
		text-transform: uppercase;
		font-size:.9rem;
		font-family:$accentFont;
		&:hover{
			background:#248a83;
			border:solid 1px #248a83;
		}
	}
	
}
.home .moreAdventures {
	margin-top:2rem;
	a{
	padding:.75rem 1.5rem;
		color:white;
		background:#248a83;
		text-decoration:none;
		text-transform:uppercase;
		font-family:$accentFont;
		&:hover{
			background:#1b6661;
		}
	}
}
//search
.search{
	.page-title{
		text-transform:uppercase;
		font-family:$accentFont;
	}
	.entry-title{
		margin-top:3rem;
		text-transform:uppercase;
		font-family:$accentFont;
		font-size:2rem;
		a{
		text-decoration:none;
		}
	}
	.entry-summary{
		font-family: $normalFont;
		line-height:1.75;
		a{
			text-decoration:none;
			color:black;
			font-family:$accentFont;
			border: solid 1px black;
			padding: .5rem 1.5rem;
			text-transform:uppercase;
			margin-bottom:2rem;
		}
	}
}